<html>
{{>partials/header}}
<body>

<h1>JURASSIC PARK</h1>
<p>My first paragraph.</p>
<img src="./images/giphy.gif"
<p>WELCOME TO JURRASSIC PARK </p>

<h1>PRODUTOS<h1>
<ul>
    <li> {{title}} - {{price}}</li>
</ul>

<h1>FRASES<h1>
<ul>
    <li> {{frases}}</li>
</ul>
{{partials/footer}}
</body>
</html>