<html>
<head>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1 style="background-color:DodgerBlue;">Hello World</h1>


<h2>Whats your name?</h2>

<img src="./images/waltdisney.gif"

<form method="GET">
  <input type="text" name="name" placeholder="Type your name"/><br/>
  <input type="number" name="age" placeholder="Type your age"/><br/>
  <input type="text" name="cellphone" placeholder="Type your cellphone"/><br/>
  <input type="text" name="adress" placeholder="Type your adress"/><br/>
  <input type="submit" value="send" />
</form>


<h1 style="background-color:DodgerBlue;">YOUR DATA</h1>


{{#name}}

<p>name :{{name}}</p>
<p>idade : {{age}}</p>
<p>telefone : {{cellphone}}</p>
<p>adress : {{adress}}</p>

{{/name}}

{{partials/footer}}