<footer>

</footer>

</html>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>SANTOS FC</strong> by Pelé</a>. in Vila Belmiro
      <a>MIT</a>. The website content is licensed <a>CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>